<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header" />
<style>
    .fieldError {
        border-color: #bd2130;
    }
</style>
<body>
<div class="container">
    <div th:replace="fragments/bodyHeader :: bodyHeader"/>
    <form role="form" th:action="@{'/board/' + ${boardDto.id}}" th:object="${boardDto}" method="post">
        <input type="hidden" name="_method" value="put"/>
        <input type="hidden" name="id" th:value="${boardDto.id}"/>
        <div class="form-group">
            <label th:for="created_Date">생성 날짜</label>
            <input type="text" th:field="*{createdDate}" class="form-control" readonly placeholder="생성 날짜는 수정할 수 없습니다.">
        </div>
        <div class="form-group">
            <label th:for="title">제목</label>
            <input type="text" th:field="*{title}" class="form-control" placeholder="제목을 작성하세요.">
        </div>
        <div class="form-group">
            <label th:for="writer">작성자</label>
            <input type="text" th:field="*{writer}" class="form-control" placeholder="작성자 입력하세요.">
        </div>
        <div class="form-group">
            <label th:for="content">내용</label>
            <input type="text" th:field="*{content}" class="form-control" placeholder="내용을 작성하세요.">
        </div>

        <br/>
        <button type="submit" class="btn btn-primary">수정</button>
    </form>
    <br/>
    <a th:href="@{/board/new}" th:class="btn-light" th:method="get">글 등록</a>
    <button type="submit" class="btn btn-primary">수정</button>
    <div th:replace="fragments/footer :: footer" />
</div> <!-- /container -->
</body>
</html>