<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header"/>
<body>
<div class="container">
    <div th:replace="fragments/bodyHeader :: bodyHeader"/>
    <a th:href="@{/api/v1/user/login}" th:class="btn-light" th:method="get">로그인</a>
    <a th:href="@{/api/v1/user/signup}" th:class="btn-light" th:method="get">회원가입</a>
    <div th:text="${userEmail}" th:align="right">User Email</div>
    <div>
        <table class="table table-striped">
            <thead>
            <tr>
                <th>#</th>
                <th>제목</th>
                <th>작성자</th>
                <th>작성일</th>
                <th>수정일</th>
                <th>조회수</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="board : ${boardList}">
                <td th:text="${board.id}"></td>
                <td>
                    <a th:href="@{'/board/'+${board.id}}" th:text="${board.title}" th:method="get"></a>
                </td>
                <td th:text="${board.writer}"></td>
                <td th:text="${#temporals.format(board.createdDate, 'yyyy-MM-dd HH:mm:dd')}"></td>
                <td th:text="${#temporals.format(board.updatedDate, 'yyyy-MM-dd HH:mm:dd')}"></td>
                <td th:text="${board.viewCnt}"></td>
            </tr>
            </tbody>
        </table>
    </div>

    <a th:href="@{/api/v1/board/write}" th:class="btn-light" th:method="get">글 등록</a>
    <div th:replace="fragments/footer :: footer"/>
</div> <!-- /container -->
</body>
</html>